.pressidium-cookie-consent-cookies {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    border-bottom: 3px solid;
  }

  td,
  th {
    padding: 0.5em;
  }
}
