#pressidium-cookie-consent-root {

  .components-tab-panel {
    &__tabs {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: none;

      overflow-x: auto;
    }

    &__tabs-item {
      white-space: nowrap;
    }

    &__tabs-item:focus,
    &__tabs-item.active-tab {
      box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) transparent, inset 0 -1.5px 0 0 var(--wp-admin-theme-color);
    }

    &__tab-content {
      //padding: 16px 24px;
    }
  }

  .components-base-control {
    width: 100%;
  }

  .components-panel__row {
    margin-top: 17px;

    &:first-child {
      margin-top: 0;
    }
  }

  .pressidium-colors-panel {
    width: 100%;
    min-width: 240px;
    max-width: 320px;

    box-sizing: border-box;

    .components-panel__body {
      padding: 0;
    }

    .components-panel__body > .components-button {
      width: 100%;
      height: auto;
      padding: 10px 12px;
    }

    .components-panel__body > .components-button {
      width: 100%;
      height: auto;
      padding: 10px 12px;
    }

    .components-panel__body > .components-button > .components-flex {
      line-height: 0.6rem;
      justify-content: flex-start;
    }

    .components-flex-item:first-child {
      min-width: 20px;
    }

    &__button-label {
      color: #000;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      height: 1rem;
      line-height: 1rem;
    }
  }

  .pressidium-toggle-control label {
    flex: 0 auto;
  }

  .pressidium-select-control,
  .pressidium-text-control {
    min-width: 240px;
    max-width: 320px;
  }

  .pressidium-no-margin {
    margin: 0;
  }

  .components-notice {
    margin: 0 0 12px 0;
    padding-right: 12px;
  }

}

.pressidium-scrollable {
  max-height: 220px;
  padding: 4px;
}

.pressidium-fine-print {
  font-size: 11px;
  text-align: center;
  margin-top: 1.4em;
}

:root {
  --gradient-shadow: linear-gradient(
    45deg,
    #78a9ed,
    #f2b7a7,
    #fc8387,
    #aa8bd8,
    #78a9ed,
    #f2b7a7,
    #fc8387,
    #aa8bd8
  );
}

.pressidium-toolbar .components-accessible-toolbar {
  position: absolute;
  top: 0;
  left: -54px;
  background-color: #fff;
  z-index: 10;
}

.pressidium-toolbar .components-accessible-toolbar:has(+ .components-base-control .components-base-control__label) {
  top: 23px;
}

.pressidium-ai-control .components-base-control__field {
  position: relative;
  z-index: 1;
}

.pressidium-ai-control.is-focused .components-base-control__field::after,
.is-translating-all .pressidium-ai-control .components-base-control__field::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  animation: pressidium-ai-animation 20s linear infinite;
}

.pressidium-ai-control.is-focused .components-base-control__field:has(.components-base-control__label):after,
.is-translating-all .pressidium-ai-control .components-base-control__field:has(.components-base-control__label):after {
  height: calc(100% + 2px - 22px);
  margin-top: 22px;
}

.pressidium-ai-control.is-focused .components-base-control__field::after,
.is-translating-all .pressidium-ai-control .components-base-control__field::after {
  filter: blur(10px);
  opacity: 0.7;
}

@keyframes pressidium-ai-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
